@tailwind base;
@tailwind components;
@tailwind utilities;

.dp__action_button.dp__action_select{
    background-color: #1976d2;
}
.dp__pointer{
    padding-left: 5px;
    padding-right: 0px;
}
.dp__icon{
    display: none;

}